.customScrollbar::-webkit-scrollbar {
  width: 3px;
  /* padding: 5px; */
}

/* Track */
.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  /* padding: 5px; */
  margin: 10px;
}

/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
