  .button {
    /* width: 100%; */
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    border-radius: 22px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: linear-gradient(45deg, #004DFF, #00A3FF);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 77, 255, 0.2);
  }
  
  .button:not(:disabled):hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 77, 255, 0.3);
  }
  
  .button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  .claimed {
    background: linear-gradient(45deg, #28a745, #34d058);
  }
  
  .buttonText {
    position: relative;
    z-index: 1;
  }
  
  .iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }
  
  .icon {
    font-size: 16px;
    color: #ffffff;
    transition: transform 0.3s ease;
  }
  
  .button:not(:disabled):hover .icon {
    transform: scale(1.2);
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease-out;
  }
  
  .button:not(:disabled):hover::before {
    transform: scale(1);
  }