.customscrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  .customscrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .customscrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }
  
  .customscrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
    border: 3px solid #f1f1f1;
  }
  
  .customscrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }