
.videoTimeline {
    height: 7px;
    width: 100%;
  }
  
  .videoTimeline .progressArea {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .progressArea .progressBar {
    width: 0%;
    height: 100%;
    background: #ff0000;
  }
  
  .progressArea span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #fff;
    transform: translateX(-50%);
  }
  
  .progressArea .progressBar::before {
    content: "";
    right: 0;
    top: 50%;
    /* height: 13px;
    width: 13px; */
    background: inherit;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .progressArea span,
  .progressArea .progressBar::before {
    display: none;
  }
  
  .videoTimeline:hover .progressArea span,
  .videoTimeline:hover .progressArea .progressBar::before {
    display: block;
  }

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
  }